/* meus estilos personalizados */


.cabecalho{
    padding-bottom: 50px;
}

section{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    margin-bottom: 1px;
}

/* primeira section da index */
.slider-aplicacao {
    margin-top: 10px;
    padding-bottom: 10px;
}

.section-cinza {
    background-color:gainsboro;
}


.section-branca {
    background-color: whitesmoke;
}

.carona-solidaria a{
    margin-bottom: 5px;
}

p{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

.div-login-cadastro{
    width: 200px;
}
